.active-deck-window {
  display: flex; }

.active-deck-window .this-deck {
  margin: 5px; }

.active-deck-window .this-deck .active-deck-name {
  grid-area: name;
  border-bottom: black solid 1px;
  align-self: center;
  margin: 5px;
  max-width: 100%; }

.active-deck-window .this-deck .button-set-horizontal {
  grid-area: t-btn;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex; }

.active-deck-window .other-decks {
  margin: 5px; }

.active-deck-window .other-decks .button-set-vertical {
  width: 100px;
  grid-area: o-btn;
  display: flex;
  flex-direction: column; }

.active-deck-window .other-decks .button-set-vertical button {
  margin-top: 5px;
  margin-bottom: 5px; }
