.card-search {
  margin: 10px;
  //width: 250px;
  border: 2px black;
  height: 100%;

  .search-results {
    overflow-y: scroll;
  }

  .search-result {
    &.covered {
      height: 50px;
      overflow: hidden;
    }
  }
}
