.card-import {
  margin: 10px;
  //width: 250px;
  border: 2px black;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;

  .import-box {
    height: 500px;
  }

  .label {

  }

  .import-box {

  }

  .button {

  }

}
