.decklist-options {
  display: flex;
  justify-content: center;
  max-width: 100%;

  .main-view-options {
    margin-right: auto;
    margin-bottom: 5px;
  }

  .view-sub-options {
    display: flex;
    margin-bottom: 5px;
    margin-right: auto;
    max-width: 100%;
  }

  .active-deck-window {
    max-height: 100px;
    width: min-content;
    justify-content: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "img name o-butn"
      "img t-btn o-butn";


    .deck-box-img-container {
      grid-area: img;
      margin-left: auto;

      .deck-box-img {
        max-height: 90%;
        max-width: 100px;
      }
    }

    .this-deck {
      margin: 5px;

      .active-deck-name{
        grid-area: name;
        border-bottom: black solid 1px;
        align-self: center;
        margin: 5px;
        max-width: 100%;
      }

      .button-set-horizontal{
        grid-area: t-btn;
        margin-top: 10px;
        margin-bottom: 5px;
        display: flex;
      }
    }

    .other-decks {
      margin: 5px;

      .button-set-vertical {
        grid-area: o-btn;
        display: flex;
        flex-direction: column;

        button {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

