.seller-options {
  background-color: #40403f;
  border: solid 1px black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  margin: 5px;
  padding: 10px;

  .logo-container {
    height: 50px;
    width: 125px;
    background-color: white;
    border: solid 1px black;
    margin-bottom: 5px;

    .loading {
      color: white;
    }

    .logo {
      max-height: 100%;
      max-width: 100%;

    }
  }

  .widgets {
    margin-left: 5px;

    .enabled {
      grid-area: enabled;
    }

    .favourite {
      grid-area: favourite;
    }

    .stock {
      grid-area: stock;
      border: solid 1px white;
      color: white;
      background-color: #1f1f1d;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.options {
  .option-set {
    background-color: #40403f;
    color: white;
    border: solid 1px black;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
  }
}



[data-seller-enabled="false"] {
  background-color: darkred;
}

[data-seller-favourite="true"] {
  background-color: green;
}

@media only screen and (max-width: 425px) {

  .seller-options{
    margin: 5px;
    padding: 5px;
    border: none;

    display: flex;

    .logo {
      max-width:60px;
      max-height: 40px;
    }
  }
}
