.deck {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 9fr;
  height: 100%;
  width: 100%; }
  .deck .decklist-options {
    display: flex;
    justify-content: center;
    max-height: 50px; }
    .deck .decklist-options .option-set {
      display: flex;
      flex-grow: 1;
      justify-content: center; }
  .deck .deck-view .view-images {
    display: flex; }
    .deck .deck-view .view-images .maindeck {
      display: flex;
      width: 100%; }
      .deck .deck-view .view-images .maindeck .decklist-column {
        display: grid;
        grid-template-rows: 1fr 1fr; }
        .deck .deck-view .view-images .maindeck .decklist-column .partial-decklist-column .card.covered {
          height: 50px;
          overflow: hidden; }
    .deck .deck-view .view-images .sideboard .decklist-column .card.covered {
      height: 50px;
      overflow: hidden; }
  .deck .deck-view .view-printable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px; }
    .deck .deck-view .view-printable .printable-column-title {
      text-align: center; }
    .deck .deck-view .view-printable .printable-column-cards {
      text-align: left; }
