.deck-view {
  border: solid black 2px;
  padding: 5px;



  .view-images {
    display: flex;

    .maindeck {
      //display: flex;
      width: 100%;

      .decklist-row {
        display: flex;
        width: 100%;
        grid-template-rows: 1fr 1fr;
        margin: 20px;

        .decklist-column {
          margin: 5px;
          .card {
            &.covered {
              height: 40px;
              overflow: hidden;
            }
          }
        }
      }
    }

    .sideboard {
      margin-left: 50px;
      .decklist-column {
        .card {
          &.covered {
            height: 50px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .view-printable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;

    .printable-column-title {
      text-align: center;
    }

    .printable-column-cards {
      text-align: left;
    }
  }

  .view-stats {

  }
}
