.deck-view {
  border: solid black 2px;
  padding: 5px; }

.deck-view .view-images {
  display: flex; }

.deck-view .view-images .maindeck {
  display: flex;
  width: 100%; }

.deck-view .view-images .maindeck .decklist-column {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.deck-view .view-images .maindeck .decklist-column .partial-decklist-column .card.covered {
  height: 50px;
  overflow: hidden; }

.deck-view .view-images .sideboard .decklist-column .card.covered {
  height: 50px;
  overflow: hidden; }

.deck-view .view-printable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 35px; }

.deck-view .view-printable .printable-column-title {
  text-align: center; }

.deck-view .view-printable .printable-column-cards {
  text-align: left; }
