.deck-builder-container {
  height: 100%;
  width: 100%; }
  .deck-builder-container .deck-builder {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto 1fr;
    grid-template-areas: "options side" "view side";
    height: 100vh;
    max-width: 100vw; }
    .deck-builder-container .deck-builder .main-view-options {
      display: flex;
      flex-wrap: wrap;
      grid-area: options; }
    .deck-builder-container .deck-builder .decklist-side-panel {
      grid-area: side;
      max-height: 100%; }
    .deck-builder-container .deck-builder .deck-view {
      grid-area: view;
      height: 100%;
      max-width: 100%; }
