.menu-item {
  transition-duration: 0.2s;
  position: static;
  left: -150px;
  margin: 10px;
  max-width: 175px;
  max-height: 89px;
  border: solid black 0px;
  align-items: center; }

.menu-item.display {
  transition-duration: 0.5s;
  transform: translate(125px, 0px); }

.menu-item.hide {
  transition-duration: 0.5s; }

.menu-item[data-active="true"] {
  outline: none;
  border-color: royalblue;
  box-shadow: 0 0 10px royalblue; }

.menu-item .navigation-icon-image {
  max-width: 100%; }

.menu-item .page-name {
  min-width: 125px;
  white-space: nowrap;
  background-color: white;
  border: solid black 1px;
  opacity: 0.8;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
