.view-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "cmc      sample-hand"
          "colour   formats"
          "type     .";

  .single-stat.cmc {
    grid-area: cmc;
  }

  .single-stat.colour {
    grid-area: colour;
  }

  .single-stat.type {
    grid-area: type;
  }

  .single-stat.sample-hand {
    grid-area: sample-hand;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "0 1 2 buttons"
            "3 4 5 6";
    .card.0 {
      grid-area: 0;
    }
    .card.1 {
      grid-area: 1;
    }
    .card.2 {
      grid-area: 2;
    }
    .buttons {
      grid-area: buttons;
    }
    .card.3 {
      grid-area: 3;
    }
    .card.4 {
      grid-area: 4;
    }
    .card.5 {
      grid-area: 5;
    }
    .card.6 {
      grid-area: 6;
    }
  }

  .single-stat.formats {
    grid-area: formats;
  }
}