.compare-prices {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .compare-prices-menu {
    display: flex;
    flex-direction: row;

    .search-input {
      margin: 20px;

      input, label {
        display: block;
      }

      label {
        color: white;
      }
    ;
    }


    .views {
      display: flex;
      flex-direction: row;

      .compare-prices-view-option {
        border: solid 1px black;
        border-radius: 10px;
        margin: 15px;
        padding: 15px;
        background-color: #40403f;
        color: white;
      }

      [data-selected="true"] {
        background-color: grey;
      }
    }

  }

  .sellers, .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .search-results {
    overflow-y: auto;

    .discovered-price {
      display: grid;
      grid-template-columns: 1fr 1fr 150px;
      border: solid 1px black;
      border-radius: 10px;
      margin: 15px;
      padding: 15px;
      background-color: white;
      max-width: 750px;

      .details {
        .logo {
          max-width: 100%;
          max-height: 75px;
        }
      }

      .img-container {
        text-align: center;

        .discovered-price-img {
          max-height: 250px;
        }
      }

      .stock-info {
        display: grid;
        grid-template-rows: 50px 50px 1fr;
        margin: 10px;

        .product-link {
          text-align: right;
        }
      }

    }

    [data-in-stock="false"] {
      background-color: grey;
    }

  }
}

@media only screen and (max-width: 425px) {

  .compare-prices {
    padding: 0px;
    margin: 0px;
    border: 1px black;
    height: 100%;


    .search-results {


      .discovered-price {
        margin: 5px;
        border: none;
        border-bottom: solid 1px black;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
              "card logo"
              "card name"
              "card stock";

        .details {
          grid-area: logo;

          .name {
            margin: 0px;
          }

          .expansion {
            display: none;
          }
        }

        .img-container {
          grid-area: card;
          margin: 0px;

          .discovered-price-img {
            max-height: 150px;
          }
        }

        .stock-info {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
              "stock stock"
              "price cart";

          .price {
            grid-area: price;
            margin: 0px;
          }
        }

      }
    }
  }


}

