.compare-prices {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%; }

.compare-prices .compare-prices-menu {
  display: flex;
  flex-direction: row; }

.compare-prices .compare-prices-menu .search-input {
  margin: 20px; }

.compare-prices .compare-prices-menu .search-input input, .compare-prices .compare-prices-menu .search-input label {
  display: block; }

.compare-prices .compare-prices-menu .search-input label {
  color: white; }

.compare-prices .compare-prices-menu .views {
  display: flex;
  flex-direction: row; }

.compare-prices .compare-prices-menu .views .compare-prices-view-option {
  border: solid 1px black;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  background-color: #40403f;
  color: white; }

.compare-prices .compare-prices-menu .views [data-selected="true"] {
  background-color: grey; }

.compare-prices .sellers, .compare-prices .options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.compare-prices .search-results {
  overflow-y: auto; }

.compare-prices .search-results .discovered-price {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 125px;
  border: solid 1px black;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  background-color: white; }

.compare-prices .search-results .discovered-price .seller {
  margin: 10px;
  max-width: 100%; }

.compare-prices .search-results .discovered-price .seller .logo {
  max-width: 100%;
  max-height: 75px; }

.compare-prices .search-results .discovered-price .details {
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr; }

.compare-prices .search-results .discovered-price .img-container {
  text-align: center; }

.compare-prices .search-results .discovered-price .img-container .discovered-price-img {
  max-height: 150px; }

.compare-prices .search-results .discovered-price .stock-info {
  display: grid;
  grid-template-rows: 50px 50px 1fr;
  margin: 10px; }

.compare-prices .search-results .discovered-price .stock-info .product-link {
  text-align: right; }

.compare-prices .search-results [data-in-stock="false"] {
  background-color: grey; }

@media only screen and (max-width: 425px) {
  .compare-prices {
    padding: 0px;
    margin: 0px;
    border: 1px black;
    height: 100%; }
  .compare-prices .options {
    display: none; }
  .compare-prices .search-results {
    overflow-y: scroll; }
  .sellers .seller-options .widgets {
    display: flex;
    flex-direction: column; }
  .sellers .seller-options .stock {
    display: none; }
  .search-results .discovered-price {
    margin: 5px;
    border: none;
    border-bottom: solid 1px black;
    grid-template-columns: 4fr 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "card . logo" "card name name" "card stock stock" "card . price"; }
  .search-results .discovered-price .img-container {
    grid-area: card;
    margin: 0px; }
  .search-results .discovered-price .seller {
    grid-area: logo;
    margin: 0px; }
  .search-results .discovered-price .seller .logo {
    max-width: 100%;
    max-height: 40px; }
  .search-results .discovered-price .price {
    grid-area: price;
    margin: 0px; }
  .search-results .discovered-price .details {
    grid-area: name; }
  .search-results .discovered-price .details .name {
    margin: 0px; }
  .search-results .discovered-price .details .expansion {
    display: none; }
  .search-results .discovered-price .stock {
    grid-area: stock;
    margin: 0px; }
  .search-results .discovered-price .link {
    display: none; } }
