.compare-prices {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 1000px;
  max-width: 800px;

  .compare-prices-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
          ". search doughnut"
          "views views views"
          "tab tab tab";
    min-height: 100px;
    max-width: 100%;

    .search-input {
      grid-area: search;
      margin: 20px;

      input, label {
        display: block;
      }

      label {
        color: white;
      }

      .radio {
        .label {
          display: flex;
        }
      }
    }

    .loading-doughnut {
      grid-area: doughnut;
      max-height: 100px;

      .element {
        max-height: 100px;
        max-width: 100px;
      }
    }

    .MuiPaper-root {
      grid-area: views;
    }

  }

  .tab-panel {
    grid-area: tab;
    overflow-y: auto;
  }

  .section-heading {
    color: white;
    margin: 15px;
  }

  .sellers, .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
  }

  .search-results {

    .discovered-price {
      background-color: white;
      border: solid 1px black;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 150px 2fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
              "logo picture name name"
              "logo picture expansion expansion"
              ". picture stock price"
              "foil-star picture . widgets";
      margin: 15px;
      padding: 25px;

      .logo {
        grid-area: logo;
        max-width: 100%;
        max-height: 75px;
      }

      .foil-star-img-container {
        grid-area: foil-star;
        max-width: 100%;

        .foil-star-img {
          max-width: 100%;
        }
      }

      .name {
        grid-area: name;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .expansion {
        grid-area: expansion;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .discovered-price-img-container {
        grid-area: picture;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: white;


        .discovered-price-img {
          height: 250px;
        }
      }

      .stock-count {
        grid-area: stock;
        display: block;
        text-align: left;
        margin-top: 10px;
      }

      .price {
        grid-area: price;
        display: inline;
        text-align: right;
        margin-top: 10px;
      }

      .widgets {
        grid-area: widgets;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: right;
      }

    }

    [data-in-stock="false"] {
      background-color: grey;
    }

  }

  .faq {
    color: white;

    .link {
      border: solid 1px white;
      background-color: #40403f;
      margin: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 425px) {

  .compare-prices {
    padding: 0px;
    margin: 0px;
    border: 1px black;
    height: 100%;
    max-width: 100%;

    .compare-prices-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
              "search doughnut"
              "views views";
      max-width: 100%;

      .search-input {
        grid-area: search;
      }

      .loading-doughnut {
        grid-area: doughnut;
      }

      .views {
        grid-area: views;

        .compare-prices-view-option {
          width: 60px;
          text-align: center;
          margin: 10px;
          padding: 10px;
        }
      }

    }


    .search-results {
      .discovered-price {
        margin: 5px;
        padding: 10px 20px 10px 10px;
        border: none;
        border-bottom: solid 1px black;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
                "name name name"
                "picture logo logo"
                "picture stock price"
                "picture foil-star widgets";

        .name {
          padding-bottom: 5px;
        }

        .expansion {
          display: none;
        }

        .discovered-price-img-container {
          margin-left: 0;

          .discovered-price-img {
            max-height: 150px;
            max-width: 100%;
          }
        }


        .stock-count {
          margin: 0;
        }

        .price {
          margin: 0;
        }

      }
    }
  }


}

