.view-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "cmc      sample-hand" "colour   formats" "type     ."; }
  .view-stats .single-stat.cmc {
    grid-area: cmc; }
  .view-stats .single-stat.colour {
    grid-area: colour; }
  .view-stats .single-stat.type {
    grid-area: type; }
  .view-stats .single-stat.sample-hand {
    grid-area: sample-hand;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "0 1 2 buttons" "3 4 5 6"; }
    .view-stats .single-stat.sample-hand .card.0 {
      grid-area: 0; }
    .view-stats .single-stat.sample-hand .card.1 {
      grid-area: 1; }
    .view-stats .single-stat.sample-hand .card.2 {
      grid-area: 2; }
    .view-stats .single-stat.sample-hand .buttons {
      grid-area: buttons; }
    .view-stats .single-stat.sample-hand .card.3 {
      grid-area: 3; }
    .view-stats .single-stat.sample-hand .card.4 {
      grid-area: 4; }
    .view-stats .single-stat.sample-hand .card.5 {
      grid-area: 5; }
    .view-stats .single-stat.sample-hand .card.6 {
      grid-area: 6; }
  .view-stats .single-stat.formats {
    grid-area: formats; }
