.App {
  background-color: #3a3f5a;
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-width: 100vw; }
  .App .nav-bar {
    position: absolute;
    left: -135px; }
  .App .page {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
    margin-left: 60px;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden; }
