.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #3a3f5a;

  .nav-bar {
    position: absolute;
    left: -150px;
  }

  .real-shit {
    max-height: 100%;
    max-width: 100%;
    margin-left: 75px;
    border-left: 1px black solid;
  }

}

.the-shelf-img {
  max-height: 650px;
}

.App-link {
  color: #61dafb;
}
