.deck-builder {
  display: flex;
  height: 100%;

  .card-search {
    padding: 10px;
    width: 250px;
    border: 2px black;

    .search-result {
      &.covered {
        height: 50px;
        overflow: hidden;
      }
    }
  }

  .decklist {
    width: 100%;
    height: 100%;
    border: 2px black;
    display: flex;

    .maindeck {
      display: flex;
      width: 100%;


      .decklist-column {
        .card {
          &.covered {
            height: 50px;
            overflow: hidden;
          }
        }
      }
    }

    .sideboard {
      .decklist-column {
        .card {
          &.covered {
            height: 50px;
            overflow: hidden;
          }
        }
      }
    }

  }

}