.deck-builder {
  display: flex;
  height: 100%; }

.deck-builder .card-search {
  padding: 10px;
  width: 250px;
  border: 2px black; }

.deck-builder .card-search .search-result.covered {
  height: 50px;
  overflow: hidden; }

.deck-builder .deckList {
  width: 100%;
  height: 100%;
  border: 2px black;
  display: flex; }

.deck-builder .deckList .deckListColumn .card.covered {
  height: 50px;
  overflow: hidden; }
