.deck-builder {
  display: grid;
  //max-height: 400px;
  grid-template-columns: 1fr 250px;
  //overflow-y: hidden;
  padding-left: 20px;
  padding-right: 20px;

  .deck {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 9fr;
    height: 100%;
    width: 100%;

      .decklist-options {
        display: flex;
        justify-content: center;
        max-height: 50px;
        //width: 100%;

        .option-set {
          display: flex;
          flex-grow: 1;
          justify-content: center;

        }
      }

      .deck-view {

        .view-images {
          display: flex;

          .maindeck {
            display: flex;
            width: 100%;
            .decklist-column {
              display: grid;
              grid-template-rows: 1fr 1fr;
              .partial-decklist-column {
                //height: 100%;
                .card {
                  &.covered {
                    height: 50px;
                    overflow: hidden;
                  }
                }
              }
            }
          }
          .sideboard {
            .decklist-column {
              .card {
                &.covered {
                  height: 50px;
                  overflow: hidden;
                }
              }
            }
          }
        }

        .view-printable{
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-top: 35px;

          .printable-column-title {
            text-align: center;
          }
          .printable-column-cards {
            text-align: left;
          }
        }

        .view-stats {

        }
      }

  }

  .card-search {
    padding: 10px;
    width: 250px;
    border: 2px black;
    height: 100%;

    .search-results {
      overflow-y: scroll;
    }

    .search-result {
      &.covered {
        height: 50px;
        overflow: hidden;
      }
    }
  }

}