.deck-builder {
  display: flex;
  height: 100%;

  .card-search {
    padding: 10px;
    //background-color: blue;
    width: 250px;
    border: 2px black;

    .search-result {
      &.covered {
        height: 50px;
        overflow: hidden;
      }
    }
  }

  .deckList {
    width: 100%;
    height: 100%;
    border: 2px black;
    display: flex;

    .deckListColumn {
      .search-result {
        &.covered {
          height: 50px;
          overflow: hidden;
        }
      }
    }
  }

}