.card-search {
  padding: 10px;
  border: 2px black;
  height: 100%;

  .search-results {
    overflow-y: scroll;
  }

  .search-result {
    &.covered {
      height: 50px;
      overflow: hidden;
    }
  }
}

.sellers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

[data-in-stock="false"] {
  background-color: lightgrey;
}

.search-results {
  .discovered-price {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: solid 2px black;
    margin: 15px;
    padding: 15px;

    .seller {
      max-width: 100%;

      .logo {
        max-width: 100%;
        max-height: 75px;
      }
    }

    .discovered-price-img {
      max-height: 150px;
    }

    & div {
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 425px) {

  .card-search {
    padding: 0px;
    margin: 0px;
    border: 1px black;
    height: 100%;

    .options {
      display: none;
    }

    .search-results {
      overflow-y: scroll;
    }

    .search-result {
      &.covered {
        height: 50px;
        overflow: hidden;
      }
    }
  }

  .sellers {
    .seller-options {
      .radio {
        display: none;
      }
      .stock-p-t {
        display: none;
      }
    }
  }

  .search-results {
    .discovered-price {
      margin: 5px;
      border: none;
      border-bottom: solid 1px black;
      grid-template-columns: 4fr 1fr 2fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
              "card . logo"
              "card name name"
              "card stock stock"
              "card . price";

      .img-container {
        grid-area: card;
        margin: 0px;
      }

      .seller {
        grid-area: logo;
        margin: 0px;
        .logo {
          max-width: 100%;
          max-height: 40px;
        }
      }

      .price {
        grid-area: price;
        margin: 0px;
      }

      .details {
        grid-area: name;
        .name {
          margin: 0px;
        }
        .expansion {
          display: none;
        }
      }

      .stock {
        grid-area: stock;
        margin: 0px;
      }

      .link {
        display: none;
      }

    }
  }
}

