.sellers {
  display: flex;
  justify-content: center; }

[data-in-stock="false"] {
  background-color: lightgrey; }

.search-results .discovered-price {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: solid 2px black;
  margin: 15px;
  padding: 15px; }
  .search-results .discovered-price .seller {
    max-width: 100%; }
    .search-results .discovered-price .seller .logo {
      max-width: 100%;
      max-height: 75px; }
  .search-results .discovered-price .discovered-price-img {
    max-height: 150px; }
  .search-results .discovered-price div {
    margin: 10px; }

.card-import {
  width: 250px;
  height: 500px; }
  .card-import .import-box {
    height: 500px; }
